{% load block_tags %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="sidebar">
            <h2><b><u>Welcome to My Blog</u></b></h2>
            <p>Number of blogs I have written so far: {% total_posts %}</p>
            <hr>
            <h4>Latest Posts:</h4>
            {% show_latest_posts %}
            <hr>
            <div>
                <h4>Most Commented Posts</h4>
                {% get_most_commented_posts as most_commented_posts %}
                <ul>
                    {% for post in most_commented_posts %}
                    <li>
                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>