{% extends 'blog/base.html' %}

{% block content %}
    {% if sent %}
        <h1>E-mail Sent Successfully</h1>
        <p>
            "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
        </p>
    {% else %}
        <h1>Share "{{ post.title }}" by e-mail</h1>
        <form method="post">
            {{ form.as_p }}
            <!-- or can use form.as_ol or form.as_table to render it accordingly -->
            {% csrf_token %}
            <input type="submit" value="Send e-mail">
        </form>
    {% endif %}
{% endblock %}